@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Love+Light&display=swap');
:root {
    --love-font: 'Love Light', serif;
    --crimson-font: 'Crimson Text', serif;
    --bg-color: #970000;
}
* {
    padding: 0;
    margin: 0;
}
html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
